.chat
  .upside-flash
    %h5 グループを作成しました
  .side-bar
    .side-bar__right-margin
    .side-bar__main
      .side-bar__upside
        .side-bar__user
          %h5 test-user
        .side-bar__group-new

        .side-bar__user-edit

      .side-bar__groups
        .side-bar__group-1
          .side-bar__group-name-1
            %h5 sample-group
          .side-bar__new-message-1
            %p hellow
        .side-bar__group-2
          .side-bar__group-name-2
            %h5 example
          .side-bar__new-message-2
            %p まだメッセージがありません
    .side-bar-right-margin


  .chat-main
    .chat-left-margin
    .chat-main__upside
      .chat-imfomation
        .chat-group
          %h3 sample-group
        .chat-members
          %p test-user
        .chat-group__edit
          %h5 edit
    .chat-box
      .chat-post-1
        .chat-post__user
          %h5 test-user
        .chat-post__time
          %p 2019/03/20(wed) 16:24
        .chat-post__content
          %h5 こんにちは！
    .chat-bottom
      .chat__send
        .chat__new-massage
          .chat-text-box

          .chat-image

        .chat__send-btn

  .chat-right-margin



