.alart
  %p グループを作成しました。

.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p( class='side-header__box__user-name') yu
        %ul( class='side-header__box__menu')
          %li(class='side-header__box__menu__new-group')
            =link_to "" ,"#",method: :get,class:"fa fa-edit"
          %li( class='side-header__box__menu__edit-user')
            =link_to "","#",method: :get, class:"fa fa-cog"
    .groups
      =link_to '/groups/id:1/messages',method: :get do
        .group
          %p(class='group__group-name') sample-group
          %p(class='group__lagest-message') hellow!
      =link_to '/groups/id:2/messages',method: :get do
        .group
          %p(class='group__group-name') example
          %p(class='group__lagest-message') メッセージがありません
  .chat-main
    .main-header
      .main-header__left-box
        %h2(class='main-header__left-box__current-group')group-name
        %ul(class='main-header__left-box__member-list') member :
        %li(class='main-header__left-box__member-list__member') yu
      .edit-btn
        =link_to 'Edit','/groups/id/edit'
    .messages
      .message
        .message__upper-info
          %p(class='message__upper-info__taker') test-user1
          %p(class='message__upper-info__date') 2019/03/20(wed) 16:24
        %p(class='message__text') こんにちは
      .message
        .message__upper-info
          %p(class='message__upper-info__taker') test-user2
          %p(class='message__upper-info__date') 2019/03/20(wed) 16:24
        %p(class='message__text') こんばんは
    .form
      %form(class='new_message')
        .input-box
          %input(class='input-box__text' placeholder='type a message')
          %label(class='input-box__image')
            %i(class="fa fa-image")
            %input(class="input-box__image__file" type="file")
        %input(class='submit-btn' value="Send" data-disable-with="Send")


