.side__header
  .side__header__box
    %p( class='side__header__box__user__name')
      =current_user.name
    %ul( class='side__header__box__menu')
      %li(class='side__header__box__menu__new__group')
        =link_to "",  new_group_path(current_user), class:"fa fa-edit"
      %li( class='side__header__box__menu__edit__user')
        =link_to "",  edit_user_path(current_user), class:"fa fa-cog"
.groups
  .group
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .group__name
          =group.name
        .group__message
          =group.show_last_message
