.form{
  height: 90px;
  background-color: #ddd;
  padding:20px 40px;
  .new__message{
    display:flex;
    &__input__box{
      width:100%;
      position:relative;
      &__text{
        height:50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
      }
      &__image{
        position:absolute;
        font-size: 1.3rem;
        top: 10px;
        right: 10px;
        cursor: pointer;
        &__file{
          display:none;
        }
      }
    }
    &__submit__btn{
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          background-color:$light-blue;
          color: $white;
          font-size:14px
    }
  }
}
