.form{
  height: 90px;
  background-color: #ddd;
  padding:20px 40px;
  .new_message{
    display:flex;
    width:100%;
    position:relative;
      .form__message{
        height:50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
      }
        i{
          position:absolute;
          font-size: 1.3rem;
          top: 15px;
          right: 125px;
          cursor: pointer;
        }
        .hidden{
          display:none;
        }
      .form__submit{
          width: 100px;
          height: 50px;
          padding: 0 30px;
          margin-left: 15px;
          background-color:$light-blue;
          color: $white;
          font-size:14px
    }
  }
}
