.groups{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding:20px 20px 0;
  a{
    color:$white;
    text-decoration: none;
    .group{
      margin-bottom:40px;
      .group__group-name{
        font-size:15px;
        margin-bottom:5px;
      }
      .group__lagest-message{
        font-size: 11px;
      }
    }
  }
}
