.side__header{
      position:relative;
      background-color: #253141;
      height: 100px;
      padding:0 20px;
      &__box{
        display:flex;
        width:100%;
        font-weight:bold;
        line-height:100px;
        &__user__name{
        }
        &__menu{
          display:flex;
          position:absolute;
          right:20px;
          &__new__group{
            margin-left:5px;
            a{
              color:$white;
              text-decoration: none;
            }
            }
          &__edit__user{
            margin-left:5px;
            a {
              color:$white;
              text-decoration: none;
            }
          }
        }
      }
    }






